@use 'variables';
@use 'mixins'; // Mixiny nadal potrzebne dla innych komponentów
@use 'sass:color';

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style dla BODY */
html, body {
    height: 100%; // Ważne, aby body miało wysokość do paralaksy i pełnego tła
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family-base;
    line-height: 1.6;
    overflow-x: hidden; // Zapobiega poziomemu scrollowaniu

    display: flex; // Ustawiamy body jako flex container
    flex-direction: column; // Elementy w kolumnie (header, main, footer)
    min-height: 100vh; // Zapewnia, że body ma co najmniej wysokość viewportu

    background-color: variables.$background-light;
    color: variables.$text-color-light; // Domyślny kolor tekstu w trybie jasnym

    &.dark-mode {
        background-color: variables.$background-dark;
        color: variables.$text-color-dark; // Kolor tekstu w trybie ciemnym
    }

    &.index-page {
        background-image: url('../img/hero-bg.jpg'); // Tło dla strony głównej
        background-attachment: fixed; // Ustawienie tła jako fixed
        background-position: center;
        background-size: cover; // Pokrywa całą stronę
        color: variables.$text-color-light; // Domyślny kolor tekstu w trybie jasnym
        font-family: variables.$font-family-base;
    }
}

// Upewnij się, że nie masz tutaj innych background-color, które by to nadpisywały

// Globalne style dla trybu ciemnego, jeśli nie są już w mixinach
// .dark-mode {
//     body {
//         //empty for now
//     }
// }

/* Globalne style dla elementów interaktywnych, np. linków */
a {
    color: variables.$primary-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}